<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Главная</title>
</head>
<body>
<div>
    <h3>Домашняя страница</h3>
    <h4><a th:href="@{/login}">Войти</a></h4>
    <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
    <h4><a th:href="@{/logout}">Выйти</a></h4>
    <h4><a th:href="@{/user/info/{name}(name=${name})}">Данные пользователя</a></h4>
    <h4><a th:href="@{/admin}">Пользователи (только админ)</a></h4>
</div>
</body>

</html>