<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
</head>

<body>
<div>
    <form th:method="POST" th:action="@{/registration}" th:object="${user}">
        <h2>Регистрация</h2>
        <label for="username">Username</label>
        <input type="text" th:field="${user.username}" id="username">
        <br>
        <label for="password">Password</label>
        <input type="text" th:field="${user.password}" id="password">
        <br>
        <label for="age">Age</label>
        <input type="text" th:field="${user.age}" id="age">
        <br>
        <label for="email">Email</label>
        <input type="text" th:field="${user.email}" id="email">
        <br>
        <input type="submit" value="Enter">
        <br>
    </form>
    <a th:href="@{/}">Главная</a>
</div>
</body>
</html>