<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h2>User's data</h2>
<br>
<a th:href="@{/admin}">Назад</a>
<br>
<th:block>
    <table>
        <tr>
            <td><b>ID:</b></td>
            <td th:text = "${user.id}"></td>
        </tr>
        <tr>
            <td><b>Name:</b></td>
            <td th:text = "${user.username}"></td>
        </tr>
        <tr>
            <td><b>Age:</b></td>
            <td th:text = "${user.age}"></td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td th:text = "${user.email}"></td>
        </tr>
    </table>
</th:block>

</body>
</html>