<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<h2><a th:href="@{/}">Main page</a></h2>
<h4><a th:href="@{/logout}">Выйти</a></h4>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>email</th>
        <th>Delete user</th>
        <th>Change user`s data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td><a th:href="@{/admin/single_user(id=${user.id})}" th:text="${user.id}"></a></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td> <a th:href="@{/admin/delete_user(id=${user.id})}" th:text="Delete"></a>
        <td> <a th:href="@{/admin/edit(id=${user.id})}" th:text="Edit"></a>
    </td>
    </tr>
    </tbody>
</table>

<form  th:method = "get" th:action="@{/admin/new_user}">
    <input type="submit" value="Add user" />
</form>
</body>
</html>