
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>User information-page</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    .table-header1 {
      color: black;
      padding: 10px;
      font-size: 24px;
      margin-left: 0;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand" id="current-user"></span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <form id="logout-form">
          <button type="submit" class="nav-link">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar">
        <div class="nav flex-column nav-pills">
          <!--     Кнопка Admin -->
          <a class="nav-link" id="admin-link" href="/admin" style="display: none;">Admin</a>
      <!--     Кнопка User -->
          <a class="nav-link active d-block flex-fill" href="/user">User</a>
        </div>
      </div>
    </div>
    <div class="col-md-10">
        <h1 class="table-header">User information-page</h1>
        <div class="table-header1 border-bottom bg-light">About user</div>
        <div class="p-4">
          <div id="user-info">
            <div class="table-responsive d-block flex-fill">
              <table class="table table-striped border-top w-100">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Age</th>
                  <th>Email</th>
                  <th>Role</th>
                </tr>
                </thead>
                <tbody id="user-data">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/user.js"></script>
</body>
</html>
